<head>
  <meta charset="utf-8">
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
</head>
<body>
  <div id="dropin-container"></div>
  <button id="submit-button">Pay</button>
  <script>

  	$.post('/createToken', function(data){

  		console.log(data);

	    var button = document.querySelector('#submit-button');

	    braintree.dropin.create({
	      authorization: data,
	      container: '#dropin-container'
	    }, function (createErr, instance) {
	      button.addEventListener('click', function () {
	        instance.requestPaymentMethod(function (err, payload) {



	          $.post('/submitNonce', {payment_method_nonce: payload.nonce} , function(data){

	          	$("#dropin-container").text(JSON.stringify(data));

	          });

	        });
	      });
	    });
	});
  </script>
</body>